body {
    height: 1000px;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
width: 80%;
margin: auto;
}

button {
    cursor: pointer;
    transition: .5s;
}

button:hover {
    letter-spacing: 2px;
}

.nav-bar {
    background-color: black;
    padding-top: 1.7%;
}
.nav-bar ul {
    float: right;

}
.clear {
    clear: both;
}

.nav-bar .logo :first-child{
    color :white; 
    display: inline-block;
}

.nav-bar .logo {
    display: inline-block;
}
.nav-bar .logo :nth-child(2) {
    color: #FF8B38;
    display: inline-block;
}

.d-inline-block {
    display: inline-block;
    margin-left: 9%;
    padding-bottom: 5%;
}

.nav-bar li a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.nav-bar ul {
    width: 40%;
}

.sec2 {
    width: 100%;
    background-image: url(../img/bg-sec-two.jpg);
    background-size: cover;
}
.main-content {
    padding-top: 13%;
    padding-bottom: 12%;
}
.overlay {
    background-color: rgb(0 0 0 / 23%);
    height: 100%;
}

.left-content {
display: inline-block;
width: 45%;
}

.right-content {
    display: inline-block;
    width: 40%;
}

.sec2 .logo {
    display: inline-block;
    font-size:3.5rem ;
}

.logo :first-child {
    color: white;
    display: inline-block;
}

.logo :nth-child(2) {
    color: #FF8B38;
    display: inline-block;
}

.sec2 h3 {
    font-size: 1.5rem;
    padding: 4% 0%;
    letter-spacing: 3px;
    color:white;
}
.sec2 hr {
    width: 17%;
    height: 1.7px;
    background-color: white;
    border-radius: 20px;
}

.sec2 h5 {
    padding: 5% 0%;
    color :floralwhite;
    letter-spacing: 2.5px;
}

.sec2 .left-content button {
    padding: 2.5% 7%;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    font-size: 18px;
    font-weight: bolder;
    border: white solid 3.5px;
}

.sec2 .right-content {
    background-color: white;
    float: right;
    border-radius: 10px;
}

.sec2 .right-content h1 {
    text-align: center;
    background-color: #c4b8b89c;
    padding: 3.5% 0%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
} 

.sec2 .right-content form input {
    padding: 2.8%;
    margin: 5% 15%;
    width: 75%;
    border: none;
    border-bottom: solid 1px #ababab;
}

.sec2 .right-content button {
    border: none;
    width: 100%;
    padding: 4%;
    background-color: #FF8B38;
    color: white;
    font-size: 1.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
}

.i-sec {
    padding: 1.5% 0%;
    background-color: white;
    border-bottom: 2px #808080ad solid;
}
.i-sec .l-content {
    display: inline-block;
    width: 40%;

}

.i-sec .l-content p {
    color: grey;
}

.i-sec .r-content {
    float: right;
    width: 50%;    
    padding-top: 1%
}

.i-sec .r-content i {
    padding-right: 6%;
    color: rgba(128, 128, 128, 0.674);
    font-size: 3rem;
}
.tabs-sec {
    background-color: #0000000a;
    margin-bottom: 10%;
    padding-bottom: 10%;
    padding-top: 10%;
}

.tabs-sec .left-content  {
    float: left;
    width: 11%;
}

.tabs-sec .middle-content {
    float: left;
    width: 42%;
    margin-left: 10%;
}

.tabs-sec .right-content {
    float: right;
    width: 33%;
}

.tabs-sec .right-content img {
    width: 100%;
}

.tabs-sec .left-content h2 {
    background: #333333;
    text-align: center;
    padding: 40% 0px;
    margin-bottom: 1.3%;
    width: 90%;
    color: white;
}

.tabs-sec .left-content :first-child {
    background-color: #FF8B38;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
}

.tabs-sec .left-content :last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
}

.tabs-sec .middle-content h1 {
    padding-bottom: 10%;
    font-size: 1.7rem;
}

.tabs-sec .middle-content p {
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding-bottom: 5%;
    color: #ababab;

}

.tabs-sec .middle-content button {
    padding: 2.5% 7%;
    color: white;
    background-color: #ff8b38;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 2%;
}

.tabs-sec .right-content img {
    width: 80%;
    margin-left: 10%;
    -webkit-box-reflect: below -26% linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.sub-list-sec {
    width: 100%;
    margin-bottom: 5.5%;
    padding-bottom: 8%;
}

.sub-list-sec .left-content {
    width: 38%;
}

.sub-list-sec .left-content img {
    width: 100%;
    border-top: 16px #a9a9a93b solid;
}

.sub-list-sec .right-content {
    float: right;
    width :48%;
}

.sub-list-sec .right-content i {
    float: left;
    margin: 2.3%;
    border: 3px #ff8b38 solid;
    color: #ff8b38;
    border-radius: 50%;
    font-size: 12.8px;
    padding: 1.5%;
    margin-right: 6%;
}

.sub-list-sec .right-content h1 {
    font-size: 1.7rem;
    padding-bottom: 5%;
    letter-spacing: .05rem;
}

.sub-list-sec .right-content hr {
    width: 13%;
    margin-bottom: 5%;
    padding: 1.5px;
    background-color: #ff8b38;
    border: none;
    border-radius: 3px;
    
}

.sub-list-sec .right-content p {
    padding-top: 2%;
    color: darkgrey;
}

.sub-list-sec .right-content div {
    padding-top: 3%;
}

.standard-pic-sec {
    background-color: #0000000a;
    margin-bottom: 8%;
    padding: 8% 0;
}

.standard-pic-sec .right-content {
    width: 40%;
    float: right;
}

.standard-pic-sec .right-content img {
    width: 90%;
}
.standard-pic-sec .left-content {
    width: 45%;
}

.standard-pic-sec .left-content h1 {
    font-size: 1.7rem;
    padding-bottom: 5%;
    letter-spacing: .05rem;
}

.standard-pic-sec .left-content hr {
    width: 13%;
    margin-bottom: 5%;
    padding: 1.5px;
    background-color: #ff8b38;
    border: none;
    border-radius: 3px;
    
}

.standard-pic-sec .left-content p {
    padding-top: 2%;
    color: darkgrey;
}

.awesome-sec {
    padding-bottom: 8%;
}

.awesome-sec .cards {
    float: right;
    width: 30%;
    text-align: center;
    margin-left: 3%;
    margin-top: 5%;
}
.awesome-sec .head {
    text-align: center
}

.awesome-sec .head h1 {
    padding: 4%;
    font-size: 4.3rem;
    font-weight: 100;
}

.awesome-sec .head hr {
    width: 8.5%;
    margin-bottom: 5%;
    padding: 1.5px;
    background-color: #ff8b38;
    border: none;
    border-radius: 3px;
    margin-left: 45%;
}
.awesome-sec .head p {
    margin-bottom: 3%;
    padding: 1.5px;
    color: darkgrey;
}

.awesome-sec .cards .fa-keyboard {
    padding: 2.8% 2.5%;

}
.awesome-sec .cards i {
    font-size: 2.5rem;
    padding: 2.5% 4%;
    color: #ff8b38;
    border: orange solid 3px;
    border-radius: 50%;
    margin-bottom: 4%;
}


.awesome-sec .cards h1 {
    padding-bottom: 6%;
}

.awesome-sec .cards p {
    padding-bottom: 6%;
}